In [12]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sys
sys.path.append('../')    
import GSSUtility as GU
import statsmodels.formula.api as smf

In [3]:
pathToData = '../../Data/'
dataCont = GU.dataContainer(pathToData)

Loading DataFrame df. This may take a few minutes.

In [6]:
# import pandas as pd
# import numpy as np
# import rpy2.robjects as robjects
# r = robjects.r
# from rpy2.robjects import pandas2ri
# pandas2ri.activate()
# import pandas.rpy.common as com
# # import GSSUtility as GU
# from rpy2.robjects.packages import importr
# # R's "base" package
# amelia = importr('Amelia')
df = pd.read_csv('../../Data/test_collinear.csv', index_col=0)
# df.index = range(len(df))

In [7]:
articlesToUse = GU.filterArticles(dataCont.articleClasses, GSSYearsUsed=True, GSSYearsPossible=False, centralIVs=True)
article = [a for a in articlesToUse if a.articleID == 7746][0]

In [9]:
article.IVs, article.GSSYearsUsed

(['AGE',
  'EDUC',
  'JOBHOUR',
  'JOBINC',
  'JOBMEANS',
  'JOBPROMO',
  'JOBSEC',
  'OCC',
  'RACE',
  'REGION',
  'RINCOME',
  'SEX',
  'WKSUB',
  'WKSUP',
  'XNORCSIZ'],
 [1985, 1987, 1988, 1989])

In [11]:
GU.runModel(dataCont, 1989, 'SATJOB', article.IVs)

IV OCC is of type "DONOTUSE"
IV XNORCSIZ is of type "DONOTUSE"
Either the  params or the R^2 is too high. Skipping.
standardize(SATJOB, ddof=1) ~ standardize(AGE, ddof=1) + standardize(EDUC, ddof=1) + standardize(JOBHOUR, ddof=1) + standardize(JOBINC, ddof=1) + standardize(JOBMEANS, ddof=1) + standardize(JOBPROMO, ddof=1) + standardize(JOBSEC, ddof=1) + C(RACE) + C(REGION) + standardize(RINCOME, ddof=1) + C(SEX) + C(WKSUB) + C(WKSUP)

(544, 16)

In [21]:
design = dataCont.df.loc[1989, ['SATJOB'] + article.IVs]
formula = GU.createFormula(dataCont, design)
results = smf.ols(formula, data=design.dropna()).fit()
results.summary()

IV OCC is of type "DONOTUSE"
IV XNORCSIZ is of type "DONOTUSE"

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:     standardize(SATJOB, ddof=1)   R-squared:                       0.121
Model:                                     OLS   Adj. R-squared:                  0.087
Method:                          Least Squares   F-statistic:                     3.600
Date:                         Thu, 09 Apr 2015   Prob (F-statistic):           3.08e-07
Time:                                 11:39:12   Log-Likelihood:                -736.32
No. Observations:                          544   AIC:                             1515.
Df Residuals:                              523   BIC:                             1605.
Df Model:                                   20
Covariance Type:                     nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [95.0% Conf. Int.]
-------------------------------------------------------------------------------------------------
Intercept                         0.1498      0.185      0.809      0.419        -0.214     0.514
C(RACE)[T.2]                      0.5378      0.145      3.706      0.000         0.253     0.823
C(RACE)[T.3]                      0.2211      0.234      0.944      0.346        -0.239     0.681
C(REGION)[T.2]                   -0.1024      0.207     -0.495      0.621        -0.508     0.304
C(REGION)[T.3]                   -0.1030      0.200     -0.516      0.606        -0.495     0.289
C(REGION)[T.4]                    0.0850      0.218      0.389      0.697        -0.344     0.514
C(REGION)[T.5]                   -0.0688      0.201     -0.343      0.732        -0.463     0.325
C(REGION)[T.6]                   -0.2083      0.231     -0.902      0.367        -0.662     0.245
C(REGION)[T.7]                    0.0393      0.223      0.176      0.860        -0.398     0.476
C(REGION)[T.8]                    0.1103      0.249      0.442      0.658        -0.380     0.600
C(REGION)[T.9]                   -0.0242      0.202     -0.120      0.905        -0.421     0.373
C(SEX)[T.2]                      -0.2151      0.089     -2.414      0.016        -0.390    -0.040
C(WKSUB)[T.2.0]                  -0.4233      0.111     -3.821      0.000        -0.641    -0.206
C(WKSUP)[T.2.0]                   0.0200      0.089      0.224      0.823        -0.155     0.195
standardize(AGE, ddof=1)         -0.0931      0.043     -2.176      0.030        -0.177    -0.009
standardize(EDUC, ddof=1)        -0.0332      0.046     -0.717      0.474        -0.124     0.058
standardize(JOBHOUR, ddof=1)     -0.0944      0.035     -2.676      0.008        -0.164    -0.025
standardize(JOBINC, ddof=1)      -0.0507      0.035     -1.432      0.153        -0.120     0.019
standardize(JOBMEANS, ddof=1)     0.0166      0.036      0.465      0.642        -0.054     0.087
standardize(JOBPROMO, ddof=1)     0.0711      0.034      2.094      0.037         0.004     0.138
standardize(JOBSEC, ddof=1)       0.0539      0.034      1.570      0.117        -0.014     0.121
standardize(RINCOME, ddof=1)     -0.0857      0.047     -1.814      0.070        -0.179     0.007
==============================================================================
Omnibus:                       58.619   Durbin-Watson:                   1.921
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               74.850
Skew:                           0.869   Prob(JB):                     5.58e-17
Kurtosis:                       3.529   Cond. No.                     1.01e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.95e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [30]:
def independent_columns(A, tol = 1e-05):
    """
    Return an array composed of independent columns of A.

    Note the answer may not be unique; this function returns one of many
    possible answers.

    http://stackoverflow.com/q/13312498/190597 (user1812712)
    http://math.stackexchange.com/a/199132/1140 (Gerry Myerson)
    http://mail.scipy.org/pipermail/numpy-discussion/2008-November/038705.html
        (Anne Archibald)

    >>> A = np.array([(2,4,1,3),(-1,-2,1,0),(0,0,2,2),(3,6,2,5)])
    >>> independent_columns(A)
    np.array([[1, 4],
              [2, 5],
              [3, 6]])
    """
    Q, R = np.linalg.qr(A.dropna())
    independent = np.where(np.abs(R.diagonal()) > tol)[0]
    print independent
    return A.iloc[:, independent]

In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv('../Data/test_collinear.csv', index_col=0)
from scipy.stats import pearsonr

In [5]:
df.head()

,HAPMAR,AGE,AGEWED,ATTEND,CHILDS,DIVORCE,EARNRS,EDUC,HOMPOP,INCOME,MARITAL,PRESTIGE,RACE,RINCOME,SEX,SPEDUC,SPWRKSTA,VOTE72,WRKSTAT,XNORCSIZ
0,1,56,23,7,1,2,2,12,2,NaN,1,46,1,NaN,2,12,1,1,2,3
1,2,51,20,1,1,2,1,12,2,12,1,45,1,NaN,2,12,1,2,7,3
2,2,41,23,3,3,2,3,16,5,12,1,69,1,12,1,12,2,1,1,3
3,1,55,21,1,2,2,2,12,5,10,1,44,1,9,1,12,7,1,1,3
4,1,32,24,3,3,2,1,18,5,11,1,60,1,11,1,12,7,1,1,3

array([ 1.])